"Django==4.2.7`ndjangorestframework==3.14.0`ndjango-cors-headers==4.3.1`npycryptodome==3.19.0`ncryptography==41.0.7`ngunicorn==21.2.0`nwhitenoise==6.6.0`ndj-database-url==2.1.0`npsycopg2-binary==2.9.9" 
